.about__section-item {
  display: flex;
  align-items: center;
  gap: 1rem; /* İkon ve metin arasındaki boşluk */
  margin-bottom: 15px; /* Öğeler arasındaki boşluk */
}

.about__section-item i {
  color: #f9a826;
  font-size: 1.2rem; /* İkonun boyutunu ayarla */
}

.about__section-item p {
  margin: 0; /* Paragrafların üst ve alt marjinlerini sıfırla */
}

@media only screen and (max-width: 992px) {
  .about__section-content h2 {
    font-size: 1.5rem;
  }
  .about__section-item p {
    font-size: 0.9rem; /* Daha büyük ve okunabilir bir yazı boyutu */
  }

  .section__description i {
    font-size: 1rem !important;
  }
}

.about__img {
  display: flex;
  justify-content: center; /* Resmi yatayda ortalar */
  align-items: center; /* Resmi dikeyde ortalar */
  height: 100%; /* Kapsayıcı yüksekliği tam olarak alır */
  width: 100%; /* Kapsayıcı genişliği tam olarak alır */
}

@media only screen and (max-width: 768px) {
  .about__img {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .about__section-content {
    margin-top: 20px;
  }

  .about__section-item p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 992px) {
  .about__section-item p {
    font-size: 0.8rem; /* Daha küçük ekranlarda metin boyutunu ayarla */
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .about__img {
    display: none;
  }
  .about__section-item p {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
  .about__section-item i {
    margin-top: 1.2rem;
  }
}
