.product__item {
  border: 1px solid #7c8a9736;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Yumuşak geçiş */
}

.product__img-content h4 {
  font-size: 1.5rem;
  overflow: hidden; /* Taşmayı engelle */
  text-overflow: ellipsis; /* Taşan metin için üç nokta göster */
  white-space: nowrap; /* Satır kaydırmayı engelle */
}

.product__img img {
  transition: transform 0.3s ease; /* Resim geçişini yumuşatır */
}

.product__img:hover img {
  transform: scale(1.1); /* Resmi %10 büyüt */
}

@media only screen and (max-width: 992px) {
  .product__img h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .product__img h4 {
    font-size: 1rem;
  }
}
